[submodule "DisplayDriver"]
	path = DisplayDriver
	url = https://gitlab.telecomnancy.univ-lorraine.fr/Alexandre.Jamet/DisplayDriver.git
[submodule "ProximityRadarDriver"]
	path = ProximityRadarDriver
	url = https://gitlab.telecomnancy.univ-lorraine.fr/Alexandre.Jamet/ProximityRadarDriver.git
